.papers-table {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.papers-table a{
  color:rgb(71, 5, 124) ;
  text-decoration: none;
}
.papers-table a:hover{
  color:rgb(71, 5, 124) ;
  text-decoration: underline;
}
.papers-table table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.papers-table table td {
  padding: 5px;
  vertical-align: top;
}

/*
===============
text alignment 
===============
*/

.papers-table table tr td {
  text-align: right;
}


.papers-table table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #000;
  
}


.papers-table table tr.heading td {
  background: rgb(169, 222, 243);
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  
}
/*
=========================================
text alignment for django-table2 template
=========================================
*/

.papers-table table thead tr th {
  text-align: right;
  background-color: rgb(169, 222, 243);
}

.papers-table table tr.item td {
  border-bottom: 1px solid #eee;
}



.papers-table table tr.total {
  border-top: 2px solid #eee;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .papers-table table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
  }

  .papers-table table table td {
      width: 100%;
      display: block;
  }
}

/** RTL **/
.papers-table.rtl {
  direction: rtl;
}

.papers-table.rtl table {
  text-align: right;
}

.papers-table.rtl table tr td:nth-child(2) {
  text-align: left;
}



/*filter-stuff*/


.filter-stuff{
  padding: 100px;
  
}